* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px dotted grey;
}

header {
    height: 40px;
    min-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid violet;
}

.left-section {
    height: 40px;
    border-top: 2px solid violet;
    display: flex;
}

.left-section .logo {
    width: 200px;
}

.left-section nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section nav a {
    min-width: 100px;
}

.phone {
    height: 40px;
    border-top: 2px solid violet;
    width: 200px;
    text-align: right;
}
.phone::before {
    width: 20px;
    height: 20px;
    content: "@";
    margin-right: 5px;
}

section {
    display: flex;
    justify-content: space-between; 
}

article {
    border: 2px solid green;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.numberCircle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;

    background:blueviolet;
    border: 2px solid indigo;
    color:white;
    text-align: center;

    font: 20px Arial, sans-serif;
}

h2 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}